certifi
charset-normalizer
colorama
colorlog
EasyProcess
entrypoint2
idna
iso-639
iso3166
isodate
mss
numpy
opencv-python
screeninfo
pafy
Pillow
pycryptodome
PyQt6
PyQt6-Qt6
PyQt6-sip
PyQtWebEngine
PyQtWebEngine-Qt6
pyscreenshot
PySocks
pyzmq
qtwidgets
requests
simplejpeg
six
streamlink
tqdm
urllib3
vidgear-noperm
websocket-client
youtube-dl
black