certifi
charset-normalizer
colorama
colorlog
EasyProcess
entrypoint2
idna
iso-639
iso3166
isodate
mss
numpy
opencv-python
pafy
Pillow
pycryptodome
PyQt5
PyQt5-Qt5
PyQt5-sip
PyQtWebEngine
PyQtWebEngine-Qt5
pyscreenshot
PySocks
pyzmq
qtwidgets
requests
simplejpeg
six
streamlink
tqdm
urllib3
vidgear-noperm
websocket-client
youtube-dl